<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
		{% seo %}
		<meta name="google-site-verification" content="3xvewEFLNMZUPWmeOKNgzzauKj5PS9ZL3VHbJ6f2kRQ" />
	</head>
	<body>
		<div class="pure-container" data-effect="pure-effect-push">
			<input type="checkbox" id="pure-toggle-left" class="pure-toggle hidden-md-up" data-toggle="left" />

			<nav class="pure-drawer" data-position="left">
				<div class="col-md-3 sidebar hidden-print">
					{% include menu.html %}
				</div>
			</nav>

			<div class="pure-pusher-container">
				<div class="pure-pusher">
					<label class="pure-toggle-label hidden-md-up" for="pure-toggle-left" data-toggle-label="left"><span class="pure-toggle-icon"></span></label>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-3 sidebar hidden-sm-down hidden-print">
								{% include menu.html %}
							</div>
							<main class="content col-md-9" role="main">
								{% include mobile_header.html %}
								<article>
									<h1>{{ page.title }}</h1>
									{{ content }}
									<small class="text-muted">Last updated on {{ page.date | date: "%B %d, %Y" }}</small>

								</article>
								<footer class="text-xs-center hidden-print">
										<p style="text-align:center;"><img src="assets/images/IIT_Logo.png" width="300"></p>
								</footer>
							</main>
						</div>
					</div>
				</div>
			</div>
			<label class="pure-overlay" for="pure-toggle-left" data-overlay="left"></label>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.1.0/anchor.js"></script>
		<script>
		anchors.options = {
			placement: 'right',
			visible: 'touch ',
			truncate: 128
		};
		anchors.add('article h2, article h3, article h4, article h5, article h6');

		$(function() {
			$("table").addClass("table");
			$("table").wrap('<div class="table-responsive"></div>');
		});
		</script>
		{% if site.mathjax %}
		<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
		{% endif %}
		<!-- Default Statcounter code for My website https://rujiawang.github.io/ -->
		<script type="text/javascript">
		var sc_project=11788774;
		var sc_invisible=1;
		var sc_security="95bf5e40";
		</script>
		<script type="text/javascript"
		src="https://www.statcounter.com/counter/counter.js" async></script>
		<noscript><div class="statcounter"><a title="web stats"
		href="http://statcounter.com/" target="_blank"><img class="statcounter"
		src="//c.statcounter.com/11788774/0/95bf5e40/1/" alt="web
		stats"></a></div></noscript>
		<!-- End of Statcounter Code -->
	</body>
</html>
